* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    position: relative;
}

header::before {
    position: absolute;
    min-width: 100%;
    z-index: -1;
    content: "";
    display: block;
    background-color: #0891b2;
    min-height: 75vh;
    transform: skewY(-10deg) translateY(-25vh);
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.1);
}

.info-container {
    display: flex;
    align-items: center;
}

.flex-container {
    margin-top: 45px;
    display: flex;
    justify-content: center;
}

.about-me {
    background-color: #fff;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.1);
    padding: 10px;
    padding-bottom: 20px;
    padding-right: 30px;
    max-width: 500px;
}

.links {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.icon {
    height: 25px;
    width: 25px;
}

.large-icon {
    height: 35px;
    width: 35px;
}

main {
    padding: 80px 50px;
}

.project-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 3rem;
}

.project-card {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.2);
}

.project-description {
    padding: 0px 20px;
    padding-bottom: 30px;
}

.project-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project-actions {
    display: flex;
    gap: 1rem;
}

footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 40px 50px;
    background-color: #0891b2;
    color: #fff;
}

.contact-link {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 10px;
    text-decoration: none;
    color: #fff;
}

address {
    font-style: normal;
}

.footer-links {
    padding-top: 20px;
    display: flex;
    gap: 1rem;
}

@media (max-width: 480px) {
    .info-container {
        flex-direction: column;
    }

    .about-me {
        box-shadow: none;
        padding: 0px 40px;
    }

    body h2 {
        text-align: center;
    }

    .links {
        justify-content: center;
    }

    .footer-links {
        justify-content: center;
    }
}